[user]
	name = Paul Taylor
	email = pltorigami@gmail.com
[core]
	editor = nvim
[credential]
	helper = osxkeychain
	# set to true if I want to differentiate between gh accounts (will ask for PAT when
	# cloning repo for first time if set to true)
	useHttpPath = false
[pull]
	ff = only
[init]
	defaultBranch = main
[diff]
	tool = nvimdiff
