set editing-mode vi

# this is godly:
# https://brettterpstra.com/2015/07/09/shell-tricks-inputrc-binding-fun/

set keymap vi-insert
# ii in insert mode clears the window and stays in insert mode
"ii": "\e\C-la"
# alt-n enters cs class host name
"\en": "plt15@class-1.cs.georgetown.edu:/home/plt15/"
# alt-v enters path to vimwiki directory
"\ev": "~/Library/Mobile\\ Documents/com~apple~CloudDocs/vimwiki/"
