set editing-mode vi

# this is godly:
# https://brettterpstra.com/2015/07/09/shell-tricks-inputrc-binding-fun/

set keymap vi-insert
# ii in insert mode clears the window and stays in insert mode
"ii": "\e\C-la"
# alt-v enters path to vimwiki directory
"\ev": "~/Library/Mobile\\ Documents/iCloud~md~obsidian/Documents/vimwiki/"
